{% extends "base.html.twig" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>
            My Dashboard
        </h1>
    </div>
    Welcome back, {{ app.user.name }}.<br>
    <br>
    We are glad to see you back here! Please choose an option from the menu to get started.
{% endblock %}