{% extends "::base.html.twig" %}

{% block title %}PLPD - New Announcement{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>
            New Announcement
        </h1>
    </div>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save announcement</button>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
    <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
    <script>
        $(document).ready(function() {
            $(".btn-primary").click(function ()
            {
                var txtValue = "";

                txtValue = $('form').find('.nicEdit-main').text();

                $("#form_body").prop("value", txtValue);
            });
        });
    </script>
{% endblock %}