{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-warning">
        This page is functional, but still a work in progress, errors are expected.
    </div>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock %}