{% extends "@Academy/base.html.twig" %}

{% block title %}PLPD - Accepted{% endblock %}

{% block body %}
    <h1 class="green">You have accepted this application</h1>
    Please PM {{ username }} the following login details and the PLPD Connect url:<br>
    <b>Username:</b> {{ username }}<br>
    <b>Password:</b> {{ password }}<br>
    <b>Connect URL:</b> <a href="http://plpd.online">http://plpd.online</a><br>
    <br>
    <b>Send the PM already, make clear however that the account is NOT activated. Activate it after the ENTIRE application process and set their rank to e.g. Probationary Officer or Senior Officer.</b>
    <br>
    Thanks, Riekelt<br>
    Administration Services
{% endblock %}
